body {
    margin: 0;
}

.App_Root {
    margin: 0;
    padding: 12px;
}

.App_Heading {
    margin: 0;
}

.Progress {
    font-size: 24px;
}

.SystemView_Root { 
    border-radius: 4px;
    padding: 2px 0 12px 12px;
    margin-bottom: 24px;
}

.SystemView_Name {
    margin-top: 12px;
}

.SystemView_BookContainer {
    display: flex;
}

.BookView_Root {
    margin: 0 20px;
    border-radius: 4px;
    width: 220px;
    justify-content: center;
}

.BookView_Image {
    width: 200px;
    height: auto;
    aspect-ratio: 2/3;
    margin: 12px 12px 0 12px;
    border-radius: 4px;
    box-shadow: 4.0px 8.0px 8.0px hsla(0, 0%, 100%, 0.38);
    cursor: pointer;
}

.BookView_Title {
    margin: 12x;
    text-align: center;
}

.BookView_Slider_Container {
    width: 100%;;
}

.BookView_Slider {
    width: 100%;
}