html {
    background-color: #292929
}

body {
    margin: 0;
}

.App_Root {
    margin: 0;
    padding-left: 12px;
}

.App_Heading {
    margin: 0;
}

.Progress_Root {
    padding-top: 12px;
    position: fixed;
    width: calc(100% - 24px);
    height: 44px;
    background-color: var(--colorNeutralBackground1);
    z-index: 1;
}

.Progress_Value {
    font-size: 20px;
    margin-top: 0px
}

.App_SystemsViewContainer {
    top: 56px;
    position: relative;
}

.SystemView_Root { 
    border-radius: 4px;
    padding: 2px 0 12px 12px;
    margin-bottom: 24px;
}

.SystemView_Name {
    margin-top: 12px;
}

.SystemView_BookContainer {
    display: flex;
    flex-wrap: wrap;
}

.BookView_Root {
    margin: 0 20px;
    border-radius: 4px;
    width: 220px;
    justify-content: center;
    position: relative;
}

.BookView_Image_Done,
.BookView_Image {
    width: 200px;
    height: auto;
    aspect-ratio: 2/3;
    margin: 12px 12px 0 12px;
    border-radius: 4px;
    box-shadow: 4.0px 8.0px 8.0px hsla(0, 0%, 100%, 0.38);
    cursor: pointer;
}

.BookView_Image_Done {
    opacity: .4;
}

.BookView_Title {
    margin: 12x;
    text-align: center;
}

.BookView_Slider_Container {
    width: 100%;;
}

.BookView_Slider {
    width: 100%;
}

.BookView_SliderLabel {
    background-color: white;
    color: black;
    top: -36px;
    position: relative;
    padding: 0 2px;
    border-radius: 2px;
    width: 24px;
    text-align: center;
}

.BookView_Checkmark {
    position: absolute;
    top: 140px;
    left: 86px;
    color: rgb(60, 156, 60);
}